/*estilização da nav*/

header{
    padding: 0em 1em 0em;
    background-color: rgb(95, 2, 31);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

ul.nav li{
    padding: 0em 1em;
}

ul.nav button{
    background-color: rgb(197, 49, 96);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

ul.nav button:hover{
    transform: scale(1.05) rotate(-2deg);
    color:white;
}

ul.nav button[data-active-b]:hover{
    transform: scale(1.05) rotate(-2deg);
}

ul.nav button[data-active-b]{
    background-color: #ffffff;
    color: rgb(197, 49, 96);
}

#btnModalRegistar, #btnLogoff{
    background-color: rgb(197, 49, 96);
    border-color: rgb(197, 49, 96);
    font-weight: bold;
}

#btnModalLogin{
    color: rgb(197, 49, 96);
    border-color: rgb(197, 49, 96);
    font-weight: bold;
}

#btnModalLogin:hover{
    color: white;
    background-color: rgb(197, 49, 96);
}

ul.nav button.disabled{
    pointer-events: auto;
    box-shadow: none;
    transform: none;
    color: #000000;
}

#btnLogoff{
    display: none;
}

#btnModalLogin, #btnModalRegistar{
    display: block;
    flex-direction: row;
}




.middle{ 
    Display: flex;
    Justify-content: center;
}


section{
    display: none;
    position: static;
}

section[data-active-s]{
    display: block;
}

section #homepage span{
    padding:20%;
}

section#s0{
    background-image: url(../images/receitas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-recipes{
    margin: 2em; 
}
.card{
    border-width: 1em;
}
.backSection{
    background-color: rgba(155, 155, 155, 0.438);
    min-height: 15vh;
}

#AllRecipes{
    padding-top: 5vh;

}

#recipes-1site{
    padding-top: 5vh;
}

.modal-dialog{
    top:20vh;
}
